$font-main: 'Open Sans', sans-serif;

header {
  padding: 17px 0 30px;

  nav {
    justify-content: space-between !important;
    padding: 0 !important;
    font-family: $font-main;


    #navbarSupportedContent {
      max-width: fit-content !important;
    }
  }
}


.page-name {
  background-color: #fcfcfc;
  padding: 22px 0;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;


  .d-flex {
    justify-content: space-between;
    align-items: center;
  }

  h1 {
    display: inline-block;
    font-size: 16px;
    color: #888888;
    margin: 0;
    font-family: $font-main;
  }

  nav {
    max-width: fit-content;
    display: flex;
    align-items: center;
    font-family: $font-main;
    color: #888888;

    ol {
      padding: 0;
      background-color: transparent;
      margin: 0 0 0 5px;

      .breadcrumb-item {
        color: #888888;
      }

      a {
        color: #888888;
      }
    }

    p {
      margin: 0;
    }
  }
}

.our_agency {
  padding: 50px 0 40px;

  h3{
    font-size: 19px;
    font-family: $font-main;
    font-weight: 400;
    color: #b0b0b0;
    margin-bottom: 30px;
    display: inline-block;
  }

  p{
    font-family: $font-main;
    font-weight: 400;
    color: #666666;
    margin-bottom: 65px;
    display: inline-block;
  }

  .progress{
    margin-bottom: 4px;
    border-radius: 3px;
  }

}