header {
  padding: 17px 0 30px; }
  header nav {
    justify-content: space-between !important;
    padding: 0 !important;
    font-family: "Open Sans", sans-serif; }
    header nav #navbarSupportedContent {
      max-width: fit-content !important; }

.page-name {
  background-color: #fcfcfc;
  padding: 22px 0;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1; }
  .page-name .d-flex {
    justify-content: space-between;
    align-items: center; }
  .page-name h1 {
    display: inline-block;
    font-size: 16px;
    color: #888888;
    margin: 0;
    font-family: "Open Sans", sans-serif; }
    @media (max-width: 767px) {
      .page-name h1 {
        display: block;
        width: 100%; } }
  .page-name nav {
    max-width: fit-content;
    display: flex;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    color: #888888; }
    .page-name nav ol {
      padding: 0;
      background-color: transparent;
      margin: 0 0 0 5px; }
      .page-name nav ol .breadcrumb-item {
        color: #888888; }
      .page-name nav ol a {
        color: #888888; }
    .page-name nav p {
      margin: 0; }

.our_agency {
  padding: 50px 0 40px; }
  .our_agency .banner img {
    display: block;
    width: 100%; }
  .our_agency h3 {
    font-size: 19px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    color: #b0b0b0;
    margin-bottom: 30px;
    display: inline-block; }
  .our_agency p {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    color: #666666;
    margin-bottom: 65px;
    display: inline-block; }
  .our_agency .progress {
    margin-bottom: 4px;
    border-radius: 3px;
    background-color: #f5f5f5;
    position: relative;
    height: 30px; }
    .our_agency .progress span {
      position: absolute;
      left: 5px;
      padding: 11px 8px;
      background-color: rgba(88, 101, 115, 0.82); }
    .our_agency .progress .bg-red {
      background-color: #c3512f !important; }
    .our_agency .progress .bg-blue {
      background-color: #74a6d9 !important; }
    .our_agency .progress .progress-bar-striped {
      background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent); }

.team h2 {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: #222222;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 28px; }
.team h5 {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #666666;
  margin-bottom: 65px;
  font-size: 13px; }
.team .member {
  margin-bottom: 40px; }
  .team .member img {
    display: block;
    width: 100%;
    margin-bottom: 11px; }
  .team .member h3 {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    color: #222222;
    margin-bottom: 10px;
    text-transform: capitalize;
    font-size: 19px; }
  .team .member h4 {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    color: #919191;
    margin-bottom: 24px;
    text-transform: capitalize;
    font-size: 13px; }
  .team .member p {
    font-size: 13px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    color: #666666;
    margin-bottom: 23px; }
    .team .member p span {
      color: #c3512f;
      font-weight: 600; }

.reviews {
  background-color: #fcfcfc;
  padding: 75px 0 100px; }
  .reviews h2 {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    color: #444444;
    margin-bottom: 85px;
    text-transform: uppercase;
    font-size: 27px; }
  .reviews .review {
    font-size: 13px;
    font-family: "Open Sans", sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: flex-start; }
    .reviews .review .review-content {
      margin-left: 20px; }
      .reviews .review .review-content img {
        display: block;
        width: 80px; }
      .reviews .review .review-content p {
        display: inline-block;
        font-weight: 400;
        color: #888888;
        margin-bottom: 20px; }
      .reviews .review .review-content h4 {
        font-weight: 600;
        color: #444444;
        font-size: 13px;
        margin-bottom: 13px; }
      .reviews .review .review-content h5 {
        font-weight: 400;
        color: #888888;
        font-size: 13px;
        margin: 0; }
        .reviews .review .review-content h5 span {
          color: #c15223;
          font-weight: 600; }

.pre-footer {
  background-color: #222222;
  padding: 60px 0 30px; }
  .pre-footer h3 {
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    color: #919191;
    margin-bottom: 20px;
    font-size: 14px; }
  .pre-footer p {
    color: #dddddd;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 13px; }
  .pre-footer .links p {
    margin-bottom: 55px; }
  .pre-footer .links .soc {
    display: flex;
    align-items: center; }
    .pre-footer .links .soc .margin-r_25 {
      margin-right: 25px; }
    .pre-footer .links .soc p {
      margin: 0;
      display: inline-block;
      font-size: 11px; }
    .pre-footer .links .soc img {
      display: inline-block;
      margin-right: 5px; }
  .pre-footer .news .ph_container {
    width: 37px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333333;
    border: 1px solid #444444;
    border-radius: 1px; }
  .pre-footer .event {
    display: flex;
    align-items: center;
    margin-bottom: 17px; }
    .pre-footer .event p {
      display: inline-block;
      color: #ffffff;
      font-size: 11px;
      margin-bottom: 10px; }
    .pre-footer .event h5 {
      color: #919191;
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
      font-size: 10px;
      margin: 0 !important; }
  .pre-footer .va-baseline {
    vertical-align: baseline; }
  .pre-footer .seo .tags {
    margin-bottom: 45px; }
    .pre-footer .seo .tags .btn {
      color: #ffffff;
      border-radius: 0;
      border: 1px solid #444444;
      font-size: 11px;
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
      padding: 10px !important;
      transition: 0.3s;
      outline: none; }
      .pre-footer .seo .tags .btn:hover {
        background-color: lightgray; }
  .pre-footer .seo .categories a {
    text-decoration: none;
    color: #dddddd;
    display: block;
    font-size: 13px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    margin-bottom: 10px;
    transition: 0.3s; }
    .pre-footer .seo .categories a:hover {
      color: darkgray; }
  .pre-footer .hours .bold {
    font-weight: 600;
    color: #ffffff; }

footer {
  background-color: #333333;
  border: 1px solid #444444;
  padding: 21px 0 24px; }
  footer p {
    color: #fffefe;
    font-size: 11px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    margin: 0; }
    @media (max-width: 767px) {
      footer p {
        width: 100%;
        text-align: center;
        margin-bottom: 10px; } }
  footer .d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  footer ul {
    margin: 0; }
    footer ul li {
      display: inline-block;
      margin-right: 19px; }
      @media (max-width: 767px) {
        footer ul li {
          text-align: center;
          display: block;
          list-style: none;
          margin-bottom: 5px; } }
      footer ul li a {
        text-transform: capitalize;
        color: #ffffff;
        font-size: 11px;
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
        text-decoration: none;
        position: relative;
        transition: 0.3s; }
        footer ul li a:hover {
          color: darkgray;
          text-decoration: none; }
        footer ul li a:after {
          content: '';
          display: block;
          width: 1px;
          height: 10px;
          right: -12px;
          background-color: #444444;
          position: absolute;
          top: 4px; }
        @media (max-width: 767px) {
          footer ul li a:after {
            display: none; } }

/*# sourceMappingURL=style.css.map */
