header {
  padding: 17px 0 30px; }
  header nav {
    justify-content: space-between !important;
    padding: 0 !important;
    font-family: "Open Sans", sans-serif; }
    header nav #navbarSupportedContent {
      max-width: fit-content !important; }

.page-name {
  background-color: #fcfcfc;
  padding: 22px 0;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1; }
  .page-name .d-flex {
    justify-content: space-between;
    align-items: center; }
  .page-name h1 {
    display: inline-block;
    font-size: 16px;
    color: #888888;
    margin: 0;
    font-family: "Open Sans", sans-serif; }
  .page-name nav {
    max-width: fit-content;
    display: flex;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    color: #888888; }
    .page-name nav ol {
      padding: 0;
      background-color: transparent;
      margin: 0 0 0 5px; }
      .page-name nav ol .breadcrumb-item {
        color: #888888; }
      .page-name nav ol a {
        color: #888888; }
    .page-name nav p {
      margin: 0; }

.our_agency {
  padding: 50px 0 40px; }
  .our_agency h3 {
    font-size: 19px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    color: #b0b0b0;
    margin-bottom: 30px;
    display: inline-block; }
  .our_agency p {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    color: #666666;
    margin-bottom: 65px;
    display: inline-block; }
  .our_agency .progress {
    margin-bottom: 4px;
    border-radius: 3px;
    background-color: #f5f5f5;
    position: relative;
    height: 30px; }
    .our_agency .progress span {
      position: absolute;
      left: 5px;
      padding: 11px 8px;
      background-color: rgba(88, 101, 115, 0.82); }
    .our_agency .progress .bg-red {
      background-color: #c3512f !important; }
    .our_agency .progress .bg-blue {
      background-color: #74a6d9 !important; }
    .our_agency .progress .progress-bar-striped {
      background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent); }

.team h2 {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: #222222;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 28px; }
.team h5 {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #666666;
  margin-bottom: 65px;
  font-size: 13px; }
.team .member {
  margin-bottom: 40px; }
  .team .member img {
    display: block;
    width: 100%;
    margin-bottom: 11px; }
  .team .member h3 {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    color: #222222;
    margin-bottom: 10px;
    text-transform: capitalize;
    font-size: 19px; }
  .team .member h4 {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    color: #919191;
    margin-bottom: 24px;
    text-transform: capitalize;
    font-size: 13px; }
  .team .member p {
    font-size: 13px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    color: #666666;
    margin-bottom: 23px; }
    .team .member p span {
      color: #c3512f;
      font-weight: 600; }

/*# sourceMappingURL=style.css.map */
